/*Réinitialiser les styles par défaut du navigateur */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  border-spacing: 0;
  box-sizing: border-box;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none; 
  border: 1px solid transparent;
  background-color: inherit;
  border-radius: 0;
}


body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.calc {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "res res res res"
    "sept huit neuf plus"
    "quatre cinq six moins"
    "un deux trois fois"
    "zero zero pourcent divise"
    "AC signe virgule egal";
  height: min(100vh, 100vw, 500px);
  width: min(100vh, 100vw, 500px);
  background-color: #f3f3f3;
  margin:auto
  

}

.resultat { grid-area: res; }
.plus { grid-area: plus; }
.moins { grid-area: moins; }
.divise { grid-area: divise; }
.fois { grid-area: fois; }
.zero { grid-area: zero; }
.un { grid-area: un; }
.deux { grid-area: deux; }
.trois { grid-area: trois; }
.quatre { grid-area: quatre; }
.cinq { grid-area: cinq; }
.six { grid-area: six; }
.sept { grid-area: sept; }
.huit { grid-area: huit; }
.neuf { grid-area: neuf; }
.virgule { grid-area: virgule; }
.egal { grid-area: egal; }
.vide { grid-area: vide; }
.clear {grid-area: AC;}
.signe {grid-area: signe;}
.pourcent {grid-area: pourcent;}

.calc,
.calc > button,
.resultat {
  border: 1px solid #e0e0e0;
}

.resultat {
  text-align: right;
  padding: .2em 20px;
  font-size: 42px;
  font-weight: 600;
}

.nb {
  background-color: grey;
}

.plus,
.moins,
.fois,
.divise {
  background-color: #f3f3f3;
  color: #666;
}

.egal {
  background-color: #006dcc;
  color: #fff;
}  
footer{ 
    display: flex;
    justify-content: center;
}